<template>
  <div class="main-layout">
    <!--    <Nav-bar /> Maybe some navbar to add or anything else..-->
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "MainLayout",
}
</script>

<style lang="scss" scoped>

</style>
