<template>
  <div class="labelEdit">
    <div class="label" @click="onLabelClick" v-if="!edit">{{ text }}</div>
    <input
        type="text"
        class="form-control"
        v-if="edit"
        v-model="label"
        v-on:blur="updateTextBlur"
        :placeholder="vplaceholder"
        @keyup.enter="updateTextEnter"
        v-focus
    />
  </div>
</template>
<script>
export default {
  name: 'LabelEdit',
  props: ['text', 'placeholder'],
  data: function () {
    return {
      edit: false,
      label: '',
      empty: 'Enter some text value',
    }
  },
  computed: {
    vplaceholder() {
      if (this.placeholder === undefined || this.placeholder === '') {
        return this.empty
      } else {
        return this.placeholder
      }
    },
    vlabel() {
      if (this.text === undefined || this.text === '') {
        return this.vplaceholder
      } else {
        return this.label
      }
    }
  },
  methods: {
    initText() {
      if (this.text === '' || this.text === undefined) {
        this.label = this.vlabel
      } else {
        this.label = this.text
      }
    },

    onLabelClick() {
      this.edit = true;
      this.label = this.text;
    },

    updateTextBlur() {
      if (this.label === '' || this.label === undefined) {
        this.$message('Title cannot be empty!', 'danger')
      } else {
        this.edit = false;
        this.$emit('clicked', this.label, this.text)
      }
    },
    updateTextEnter() {
      this.edit = false;
    }
  },

  directives: {
    focus: {
      inserted(el) {
        el.focus()
      }
    }
  },
  mounted: function () {
    this.initText();
  },
  watch: {
    text(value) {
      if (value === '' || value === undefined) {
        this.label = this.vplaceholder
      }
    }

  }
}
</script>

<style scoped>
.labelEdit {
  cursor: pointer
}
</style>
