<template>
  <div class="row">
    <div class="col-lg-4">
      <img
          :src="product.Poster"
          onError="this.style.display = 'none'"
          class=""
      >
    </div>
    <div class="col-lg-8">
      <h3>TITLE: {{ product.Title }}</h3>
      <h4>imdbID: {{ product.imdbID }}</h4>
      <h5>CATEGORY: {{ product.Type }}</h5>
      <p>YEAR: {{ new Date(Number(product.Year) * 1000) | dateFormat('YYYY') }}</p>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "ProductItem",
  data: () => ({}),
  components: {},
  mounted() {
    if (this.PRODUCTS.length < 1) {
      this.$router.push("/error")
    }
  },
  computed: {
    ...mapGetters([
      'PRODUCTS',
    ]),
    product() {
      return this.$store.getters.PRODUCTS.filter(item => item.imdbID === this.$route.params.id)[0]
    }
  },
}
</script>

<style scoped>

</style>
