<template>
  <div class="error-404">
    <h1 class="error-404">{{ error }}</h1>
    <img class="mx-auto d-block" src="../assets/static_error.gif"/>
  </div>
</template>

<script>
export default {
  name: "Error",
  computed: {
    error() {
      return this.$store.getters.ERROR || 'Something Went Wrong...'
    },
  },
}
</script>

<style scoped>
.error-404 {
  text-align: center;
  margin-top: 100px;
}
</style>
