<template>
  <div class="content">
    <div class="row">
      <side-bar />
      <catalog />
    </div>
  </div>
</template>

<script>
// @ is an alias to /src
import catalog from '../components/catalog/Catalog'
import sideBar from '../components/side-bar/SideBar'

export default {
  name: 'Home',
  components: {
    catalog,
    sideBar,
  }
}
</script>

<style>
.content {
  padding: 50px;
}

@media (max-width: 769px) {
  .content {
    padding: 0px;
  }
}
</style>

