<template>
  <div class="Product">
    <div class="container mt-5">
      <product-item />
      <button type="button" class="btn btn-primary ml-2 mt-5" @click.prevent="goBack">Back</button>
    </div>
  </div>
</template>

<script>
import ProductItem from "@/components/ProductItem";

export default {
  name: "Product",
  components: {
    ProductItem
  },
  methods: {
    goBack() {
      this.$router.push("/")
    }
  }
}
</script>

<style scoped>

</style>
