<template>
  <div class="col-lg-9">
    <div class="row action-panel p-3">
      <div class="col-12">
        <search-bar/>
      </div>
    </div>
    {{ERROR}}
    <div class="row p-3">
      <app-catalog-item
          v-for="(prod) in filteredProducts"
          :item="prod"
          :key="prod.imdbID"
          :displayList="DISPLAY_LIST"
      />
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
import catalogItem from "@/components/catalog/CatalogItem";
import searchBar from "@/components/search-bar/SearchBar";
import filters from "@/services/filters"

export default {
  name: "catalog",
  components: {
    appCatalogItem: catalogItem,
    searchBar,

  },
  data: () => ({
    ascending: true,
  }),
  watch: {
    ERROR: function () {
      this.$router.push("/error")
    }
  },
  async mounted() {
    await this.GET_PRODUCTS_FROM_API()

  },
  computed: {
    ...mapGetters([
      'PRODUCTS',
      'DISPLAY_LIST',
      'CATEGORY',
      'SEARCH',
      'SORT_TYPE',
      'ERROR'
    ]),
    filteredProducts() {
      let tempProducts = this.PRODUCTS
      // Process search input
      tempProducts = tempProducts.filter((item) => {
        return item.Title.toUpperCase().includes(this.SEARCH.toUpperCase()) ||
            filters.dateManipulating(item.Year).toUpperCase().includes(this.SEARCH.toUpperCase())
      })
      // Sort by alphabetical order
      tempProducts = filters.sortBy(tempProducts, 'Title')
      // Show sorted array in descending or ascending order
      if (!this.SORT_TYPE) {
        tempProducts.reverse()
      }
      // Category Filter
      tempProducts = tempProducts.filter((item) => {
        return item.Type
            .toUpperCase()
            .includes(this.CATEGORY.toUpperCase())
      })

      return tempProducts
    }
  },

  methods: {
    ...mapActions([
      'GET_PRODUCTS_FROM_API',
    ]),

  }
}
</script>

<style scoped>

</style>
