<template>
  <div class="mb-3 col-sm-6 col-md-4 item" :class="{'list-group-item': displayList}">
    <div class="thumbnail card">
      <router-link :to="'/product/' + item.imdbID">
        <div class="img-event intrinsic">
          <img
              :src="item.Poster"
              onError="this.style.display = 'none'"
              class="grow thumbnail-image card-img-top intrinsic-item p-3"
          >
        </div>
      </router-link>
      <div style="text-align: center" class="card-body">
        <h4>
          <label-edit :text="item.Title" @clicked="onClickChild" placeholder="Enter some text"></label-edit>
        </h4>
        <p>{{ new Date(Number(item.Year) * 1000) | dateFormat('YYYY') }}</p>
      </div>
    </div>
  </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
import labelEdit from '../LableEdit'

export default {
  name: "catalogItem",
  props: ['item', 'displayList'],
  components: {
    labelEdit,
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters([
      'ERROR',
    ]),
  },
  methods: {
    ...mapActions([
      'UPDATE_PRODUCT_TITLE',
    ]),
    async onClickChild(newText, oldText) {
      if (newText !== oldText) {
        await this.UPDATE_PRODUCT_TITLE({newTitle: newText, ...this.item})
        if (!this.ERROR) {
          this.$message('Data has been updated', 'success')
        } else {
          this.$message(this.error, 'danger')
        }
      }
    }
  }

}
</script>

<style lang="scss" scoped>
body {
  cursor: pointer;
}

div.card {
  height: 100%;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.img-event {
  min-height: 400px;
}

.thumbnail-image {
  position: static;
  height: 400px;
  object-fit: contain;
}

.list-group-item {
  float: none;
  width: 100%;
  background-color: #fff;
  margin-bottom: 30px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  max-height: 200px;
  padding: 0 1rem;
  border: 0;

  .thumbnail {
    display: block;
    width: 100%;
    margin: auto;
  }

  .img-event {
    width: 20%;
    float: left;
    padding: 0 !important;
    margin: 0 auto;
    height: auto;
  }

  img {
    display: block;
    margin: auto;
  }

  .thumbnail-image {
    position: static;
    max-height: 200px;
    object-fit: contain;
  }

  .card-body {
    float: left;
    width: 80%;
    margin: 0;
  }

  @media (max-width: 769px) {
    .img-event {
      width: 30%;
      float: left;
      padding: 0 !important;
      margin: auto;
    }
    .thumbnail {
      width: 100%;
    }
    img {
      display: block;
      margin: auto;
    }
    .thumbnail-image {
      width: 120px;
      height: auto;

    }
    .card-body {
      float: left;
      width: 70%;
      margin: 0;
    }
  }

}

@media (max-width: 769px) {
  .list-group-item {
    max-height: 100%;
  }
  .thumbnail-image {
    position: static;
    object-fit: contain;
  }
  .img-event {
    min-height: 200px;
  }
  img {
    display: block;
    margin: auto;
  }
}

@media (max-width: 1025px) {
  .thumbnail-image {
    position: static;
    height: 300px;
    width: auto;
    max-width: 200px;
  }
}

.item.list-group-item:before, .item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item:after {
  clear: both;
}
</style>
