<template>
  <div class="search-bar">
    <div class="row">
      <div class="col-lg-8 ">
        <input
            type="text"
            class="form-control"
            placeholder="Search"
            v-model="search"
        >
      </div>
      <div class="col-lg-4">
        <div class="group">
          <div class="btn-group mx-auto d-block">
            <button type="button" class="btn btn-primary ml-2" @click="clear">Clear</button>
            <button type="button" class="btn btn-primary ml-2" @click="refresh">Refresh</button>
            <button type="button" class="btn btn-primary ml-2" @click="changeSort">Sort</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions, mapGetters, mapMutations} from "vuex";

export default {
  name: "searchBar",
  data: () => ({}),
  computed: {
    ...mapGetters([
      'ERROR'
    ]),
    search: {
      get() {
        return this.$store.state.search
      },
      set(value) {
        this.$store.commit('SET_SEARCH', value)
      }
    }
  },
  methods: {
    ...mapActions([
      'GET_PRODUCTS_FROM_API',
    ]),
    ...mapMutations([
      'SET_SEARCH',
      'SET_SORT_TYPE',
    ]),
    changeSort() {
      this.SET_SORT_TYPE()
    },
    clear() {
      this.SET_SEARCH('')
    },
    async refresh() {
      await this.GET_PRODUCTS_FROM_API()
      if (!this.ERROR) {
        this.$message('Data has been Refreshed', 'success')
      } else {
        this.$message(this.error, 'danger')
      }
    }
  }
}
</script>

<style scoped>
@media (max-width: 769px) {
  .group {
    margin-top: 5px
  }
}
</style>
