<template>
  <div class="col-lg-3 p-3">
    <div class="card categories-menu">
      <div class="list-group" v-for="(category, index) in categories" :key="category.type">
        <span class="list-group-item category-item" :class="{ 'active': activeIndex === index }"
              @click="onChose(category, index)">{{ category.type.toUpperCase() }} ({{ category.count }})</span>
      </div>
    </div>
    <div class="toggle">
      <button @click.prevent="changeView(true)" class="btn btn-info pull-right mx-auto d-block">
        Change View
      </button>
    </div>
  </div>
</template>

<script>
import {mapGetters, mapMutations} from 'vuex'

export default {
  name: "sideBar",
  data: () => ({
    activeIndex: null,
  }),
  components: {},
  computed: {
    ...mapGetters([
      'PRODUCTS',
      'CATEGORY',
    ]),
    categories() {
      const categories = []
      for (let [key, value] of Object.entries(this.PRODUCTS.reduce((acc, it) => {
        acc[it.Type] = acc[it.Type] + 1 || 1;
        return acc;
      }, {}))) {
        categories.push({type: key, count: value})
      }
      return categories
    },
  },

  methods: {
    ...mapMutations([
      'SET_DISPLAY_LIST',
      'SET_CATEGORY',
    ]),
    changeView() {
      this.SET_DISPLAY_LIST()
    },
    onChose(category, index) {
      this.SET_CATEGORY(category.type)
      this.activeIndex = index;
    }
  }
}
</script>

<style scoped>
.categories-menu {
  padding: 10px
}

.toggle {
  padding: 10px;
}

.category-item {
  text-align: center;
  cursor: pointer;
}
</style>
